{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="contents">
    <h1>Detalhes do cadastro</h1>
    <div class="contents-info">
        <p>Imagem: </p><img src="{{ hub.imagem.url }}" alt="{{ hub.titulo }}">
        <p>Titulo: {{ hub.titulo }}</p>
        <p>Descricao: {{ hub.descricao }}</p>
        <p>Tags: {{ hub.tags }}</p>
        <p>Data: {{ hub.data_criacao }}</p>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-secondary" style="width: 100%">Voltar</a>
    </div>
</div>
{% endblock%}