{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
  {% include 'partials/_head.html' %}
  <title>Photohub</title>
</head>

<body>

  <section class="container">
    <section class="sideBar">
        <div class="shortCuts">
            <div class="logo">
                <img src="{% static 'img/icon.png' %}" alt="Logo">
            </div>
            <a href="{% url 'hub' %}" class="homePage"><i class="fa-solid fa-house"></i></a>
            <a href="/" class="explorer"><i class="fa-solid fa-compass"></i></a>
            <a href="{% url 'form' %}" class="create"><i class="fa-solid fa-square-plus"></i></a>
        </div>
        <div class="settings">
            <a href="/" class="settingsButton"><i class="fa-solid fa-gear"></i></a>
        </div>
    </section>
    <section class="main">
        <section class="navBar">
            <div class="navContent">
                <div class="input">
                    <input type="search" placeholder="Pesquisar">
                </div>
                <div class="user">
                    <a href=""><img src="{% static 'img/user.png' %}" alt="User"></a>
                </div>
            </div>
        </section>
        <section class="content">
          {% block content %}{% endblock %}
        </section>
    </section>
</section>



  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
  <script src="https://kit.fontawesome.com/49a06b0e28.js" crossorigin="anonymous"></script>
  
</body>
</html>